/*
Dropdown Menu
*/

.dropbtn {
    width: 12rem;
    padding: 0.24rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #727272;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 12rem;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}