body {
    padding: auto;
}
h1, h2 {
    /* center */
    text-align: center;
    border: none;
}
.dropdown .dropbtn button {
    /* center */
    vertical-align: center;
}
div {
    padding: 0px;
    margin-top:0.5rem;
    padding:1.15rem;
}
p {
    font-size:0.9rem;
    /* center */
    text-align: center;
    border: none;
}
p.heavy {
    font-size:1.15rem;
    font-weight: bold;;
}

/*
==============================
TEXTBOX & COMBO BOX
==============================
*/
#typingTextbox {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

/*
==============================
DROPDOWN MENU
==============================
*/

.dropbtn {
    width: 12rem;
    padding: 0.24rem;
    font-size: 0.9rem;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #727272;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 12rem;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}